APP_NAME=ClockWise
APP_ENV=local
APP_DEBUG=false (set to false to avoid verbose Error Logs leaking to the CI Logs)
APP_URL=http://localhost/ClockWise_Local_Testing/src

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=clockwise
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file

FEATURE_PLAYWRIGHT=false
LOG_LEVEL=debug